{{- $src := .Get "src" -}} {{- $alt := .Get "alt" | default "image" -}} {{-
$class := .Get "class" -}} {{- $width := .Get "width" | default "200" -}} {{-
$height := .Get "height" | default "200" -}} {{- $image :=
.Page.Resources.GetMatch $src -}} {{- $finalSrc := cond $image
$image.RelPermalink ($src | relURL) -}}

<img
  src="{{ $finalSrc }}"
  alt="{{ $alt }}"
  width="{{ $width }}"
  height="{{ $height }}"
  class="custom-image {{ $class }}"
  loading="lazy"
  decoding="async" />

<style>
  .custom-image {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    object-fit: cover;
  }
</style>
